& {
  .steps:not(.animation-steps) {
    .steps-item {
      padding-left: 75px;
      padding-top: 0;
      max-width: 520px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 3;

      }

      &:after {
        content: "";
        position: absolute;
        background: url('../images/line_mob.svg') repeat-y center;
        height: calc(100% - 18px);
        background-size: 100%;
        width: 3px;
        top: 73px;
        left: 30px;
      }

      &:first-child {
        &:after {
          content: "";
          position: absolute;
          background: url('../images/line_mob.svg') repeat-y center;
          height: calc(100% - 45px);
          background-size: 100%;
          width: 3px;
          top: 73px;
          left: 30px;
        }
      }

      &:last-child {
        &:after {
          display: none;
          content: "";
        }
      }
    }

  }


  .steps-item .title {
    margin-top: 10px;
  }

  &#funnels-lib {

    .mt-7,
    .animation_bl-item {
      margin-top: 30px;
    }

    .text-content {
      max-width: 100%;
      margin-left: 0;
    }
  }



  .intl-tel-input .flag-container {
    width: 100px;
  }

  &#funnels-lib .label .intl-tel-input.allow-dropdown input,
  &#funnels-lib .label .intl-tel-input.allow-dropdown input[type=tel],
  &#funnels-lib .label .intl-tel-input.allow-dropdown input[type=text],
  &#funnels-lib .label .intl-tel-input.separate-dial-code input,
  &#funnels-lib .label .intl-tel-input.separate-dial-code input[type=tel],
  &#funnels-lib .label .intl-tel-input.separate-dial-code input[type=text] {
    padding-left: 119px;
  }

  &#funnels-lib .label.label-phone .label-text {
    left: 120px;
  }

  .intl-tel-input.separate-dial-code .selected-dial-code {
    margin-left: 4px;
  }

  .intl-tel-input .selected-flag .iti-arrow {
    margin-left: 5px;
  }

  .intl-tel-input .selected-flag {
    padding: 0 16px 0 22px;
  }



  padding-bottom: 80px;

  .input-group {
    display: flex;
    flex-wrap: wrap;

    .label {
      width: 100%;

      &:first-child {
        margin-right: 0px;
      }
    }
  }

  &#funnels-lib .testimonials-rating.large .star {
    width: 55px;
    height: 55px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    svg {
      width: 55px;
      height: 55px;
    }
  }

  main {
    overflow-x: hidden;

  }


  overflow-x: hidden;


  &.dark_green-tmpl {

    &:after,
    &:before {
      width: 100% !important;
    }

    .steps:not(.animation-steps) {
      .steps-item {
        &:after {
          background: url('../images/line_mob_dg.svg') repeat-y center;
        }
      }
    }
  }

  &.dark_grey_yell-tmpl {
    .steps:not(.animation-steps) {
      .steps-item {
        &:after {
          background: url('../images/line_mob_dy.svg') repeat-y center;
        }
      }
    }
  }

  &.green-tmpl {
    .steps:not(.animation-steps) {
      .steps-item {
        &:after {
          background: url('../images/line_mob_gr.svg') repeat-y center;
        }
      }
    }
  }



  //  &#funnels-lib {
  h1 {
    font-size: 28px;
    line-height: 34px;
    margin: 10px 0 5px !important;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
    margin: 50px 0 5px !important;
  }

  h3 {
    font-size: 18px;
    line-height: 31px;
    margin: 5px 0 2px !important;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 !important;
  }

  .order-btn {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px;
    width: auto;
    margin-top: 11px;
    margin-bottom: 11px;

    &:active,
    &:focus {
      padding: 17px 28px 13px 32px;

    }
  }

  .veryfy-input {
    height: 52px;
    font-size: 35px;
    max-width: 198px;
    margin-right: 15px;
  }

  .price {
    .new {
      font-size: 40px;
      line-height: 48px;

      sup {
        font-size: 16px;
        line-height: 48px;
      }
    }

    .summ {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .steps:not(.animation-steps) {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .steps-item {
    margin-bottom: 30px;

    &:nth-child(2) {
      margin-bottom: 54px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      top: 5px;
      //      margin-top: -30px;
      width: 60px;
      height: 60px;
      font-size: 32px;
      line-height: 42px;
    }

    .title {
      margin-top: 10px;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 0;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-top: 3px;
      margin-bottom: 0;

    }
  }

  .testimonials {
    margin-top: 15px;

    .testimonials-item {
      margin-bottom: 25px;

      .testimonials-rating {
        margin-bottom: 0;
      }

      .title {
        margin: 0;
      }

      p {
        &.small {
          margin: 5px 0 0;
        }
      }

      .profile {
        padding: 5px 0 0;

        .username {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }

  .faq {
    margin: 15px 0;
  }

  .faq-item {
    padding: 20px 48px 20px 10px;

    .title {
      font-size: 16px;
      line-height: 21px;
    }

    .more {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .flag-container > .selected-flag > .iti-flag {
    //    display: none;
  }

  .input-text,
  .select-styled,
  .select-options li {
    font-size: 18px;
    line-height: 23px;
    padding-top: 14px;
    padding-bottom: 13px;
  }

  .select-styled {
    padding-top: 22px;
    padding-bottom: 5px;
  }

  .select-styled,
  .select-styled:before {
    font-size: 18px;
    line-height: 23px;
  }

  .select-styled,
  .select-options li {
    min-height: 52px;
  }

  .label.active .label-text {
    font-size: 13px;
    line-height: 17px;
    //      transform: translateY(-150%);
  }

  .input-text:not(.error):focus,
  .input-text:not(.error):hover {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 18px;
  }

  .label-text {
    font-size: 18px;
    line-height: 23px;
  }

  .testimonials-rating {
    padding: 15px 0;
  }

  .veryfy-wrap {
    padding-top: 0;
  }

  .number-inputs,
  .veryfy .number-inputs,
  .veryfy-wrap .veryfy .number-inputs {
    padding: 12px 0;
    margin-right: 15px;

    .required-input {
      width: 40px;
      height: 52px;
      margin-right: 8px;
      padding: 0;
      font-size: 25px;
      line-height: 1.2;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .checbox-label,
  .radio-label {
    padding: 12px 0;

    label {
      font-size: 16px;

      &:before {
        top: -2px;
      }
    }
  }

  .radio-label input:checked + label:after {
    top: 4px;
  }

  .btn-group .order-btn:first-child {
    margin-right: 10px;
  }

  .step {
    padding: 10px 0;

    .step-count {
      margin: 14px 0;
      padding: 9px 20px;
      font-size: 20px;
      line-height: 34px;
    }

    .step-info {
      margin-top: 10px;
      font-size: 14px;
      line-height: 24px;

    }
  }

  .keywords {
    flex-wrap: wrap;

    input {
      font-size: 18px;
      line-height: 23px;
      padding-top: 14px;
      padding-bottom: 13px;
      margin-right: 0;
      margin-bottom: 14px;
    }
  }

  .label {
    margin: 11px 0;
  }

  .label.active.label-textarea .label-text {
    font-size: 15px;
    line-height: 19px;
    transform: translateY(-95%);
  }

  .select-styled.select-item:before {
    font-size: 13px;
    line-height: 19px;
    top: 5px;
  }

  .progress {
    border-radius: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .create-steps .item section {
    align-items: flex-start;
    min-height: calc(100vh - 350px);
  }

  .veryfy-wrap .veryfy .order-btn,
  .veryfy-wrap .order-btn {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 15px 22px;

  }

  .btn-group .order-btn:first-child {
    margin-right: 0;
  }

  /*font*/
  &.georgia {


    h1 {
      font-size: 55px;
      line-height: 130%;

      + h3 {
        font-size: 24px;
        line-height: 130%;
      }
    }


    .text-content p {
      font-size: 18px;
      line-height: 130%;
    }

    p {
      font-size: 16px;
      line-height: 130%;
    }

    h2 {
      font-size: 41px;
      line-height: 130%;

    }

    .testimonials-item {
      .title {
        font-size: 22px;
        line-height: 130%;

      }

      p {
        &.small {
          font-size: 14px;
          line-height: 130%;
        }
      }
    }

    .faq-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      .more {
        font-size: 16px;
        line-height: 130%;
      }
    }


  }

  &.open_sans_ovo {

    h1 {
      font-size: 40px;
      line-height: 130%;

    }

    h3 {
      font-size: 22px;
      line-height: 130%;
    }

    h2 {
      font-size: 40px;
      line-height: 130%;
    }

    .steps-item {
      margin-bottom: 44px;

      .title {
        font-size: 28px;
        line-height: 130%;
      }
    }

    .testimonials-item,
    .faq-item {
      .title {
        font-size: 24px;
        line-height: 130%;

      }
    }

    .step-count {
      font-size: 22px;
      line-height: 44px;
    }
  }

  &.helvetica_neue_light_set {

    h1 {
      font-size: 40px;
      line-height: 130%;
    }

    h3 {
      font-size: 26px;
      line-height: 130%;
    }

    h2 {
      font-size: 41px;
      line-height: 130%;
    }

    .text-content p {
      font-size: 18px;
      line-height: 130%;
    }

    .steps-item {
      .title {
        font-size: 28px;
        line-height: 130%;
      }
    }

    .testimonials-item,
    .faq-item {
      .title {
        font-size: 22px;
        line-height: 130%;

      }
    }

    .step-count {
      font-size: 22px;
      line-height: 130%;
    }

    .price .new sup {
      line-height: 44px;
    }

    .checbox-label label:before,
    .radio-label label:before {
      top: -9px;
    }

    .radio-label input:checked + label:after {
      top: -3px;
    }
  }

  &.open_sans_bolt {
    .keywords {

      &.half {
        .order-btn {
          max-width: 290px;
        }
      }
    }

    h1 {
      font-size: 45px;
      line-height: 130%;
    }

    h3 {
      font-size: 24px;
      line-height: 130%;
    }

    .text-content p {
      font-size: 18px;
      line-height: 130%;
    }

    h2 {
      font-size: 41px;
      line-height: 130%;
    }

    .steps-item {
      .title {
        font-size: 24px;
        line-height: 130%;
      }

      p {
        font-size: 16px;
        line-height: 130%;
      }
    }

    .order-btn {
      font-size: 20px;
      line-height: 130%;
    }

    p {
      font-size: 16px;
      line-height: 130%;

    }

    .testimonials-item,
    .faq-item {
      .title {
        font-size: 20px;
        line-height: 130%;
      }
    }

    .input-text,
    .select-options li {
      font-weight: bold;
    }


    .order-btn,
    .veryfy-wrap .veryfy .order-btn {
      margin-top: 12px;
      margin-bottom: 12px;
      padding: 12px 22px;

    }
  }

  &.open_sans_regular {

    h1 {
      font-size: 55px;
      line-height: 130%;

      + h3 {
        font-size: 24px;
        line-height: 130%;
      }
    }

    h2 {
      font-size: 41px;
      line-height: 130%;
    }

    .text-content p {
      font-size: 18px;
      line-height: 130%;
    }

    .steps-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        font-size: 20px;
        line-height: 34px;
      }
    }

    p {
      font-size: 20px;
      line-height: 34px;
    }

    .testimonials-item {
      .title {
        font-size: 24px;
        line-height: 36px;
      }

      p {
        &.small {
          font-size: 18px;
          line-height: 31px;
        }
      }
    }

    .faq-item {
      .title {
        font-size: 24px;
        line-height: 31px;
      }

      .more {
        font-size: 20px;
        line-height: 34px;
      }
    }
  }

  &.merriweather {


    h1 {
      font-size: 32px;
      line-height: 130%;


    }

    h2 {
      font-size: 31px;
      line-height: 130%;
    }

    h3 {
      font-size: 20px;
      line-height: 130%;
    }

    .text-content p {
      font-size: 18px;
      line-height: 150%;
    }

    .steps-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        font-size: 16px;
        line-height: 130%;
      }
    }

    p {
      font-size: 16px;
      line-height: 150%;
    }

    .testimonials-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        &.small {
          font-size: 18px;
          line-height: 130%;
        }
      }
    }

    .faq-item {
      .title {
        font-weight: normal;
        font-size: 22px;
        line-height: 130%;
      }

      .more {
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
      }
    }
  }

  &.roboto_light {

    .keywords.half .order-btn {
      padding-left: 5px;
      padding-right: 5px;
    }
    h1 {
      font-size: 40px;
      line-height: 130%;
    }

    h2 {
      font-size: 36px;
      line-height: 130%;
    }

    h3 {
      font-size: 20px;
      line-height: 130%;
    }

    .text-content p {
      font-size: 18px;
      line-height: 130%;
    }



    .steps-item {
      .title {
        font-size: 24px;
        line-height: 130%;
      }

      p {
        font-size: 16px;
        line-height: 130%;
      }
    }

    p {
      font-size: 16px;
      line-height: 130%;
    }

    .testimonials-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        &.small {
          font-size: 14px;
          line-height: 130%;
        }
      }
    }

    .faq-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      .more {
        font-size: 16px;
        line-height: 130%;
      }
    }

    .price .new sup {
      line-height: 40px;
    }

  }

  &.roboto_extra_bold {
    .price .new sup {
      line-height: 40px;
    }

    .checbox-label label:before {
      top: -2px;
    }

    h1 {
      font-size: 50px;
      line-height: 130%;

      + h3 {
        font-size: 24px;
        line-height: 130%;
      }

    }

    h2 {
      font-size: 41px;
      line-height: 130%;

    }

    h3 {
      font-size: 18px;
      line-height: 130%;
    }

    .text-content {
      p {
        font-size: 18px;
        line-height: 130%;
      }
    }


    .steps-item {
      .title {
        font-size: 22px;
        line-height: 130%;

      }

      p {
        font-size: 16px;
        line-height: 130%;
      }
    }

    p {
      font-size: 16px;
      line-height: 130%;
    }

    .testimonials-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        &.small {
          font-size: 14px;
          line-height: 130%;
        }
      }
    }


    .faq-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      .more {
        font-size: 16px;
        line-height: 130%;
      }
    }


    .step-info {
      font-size: 14px;
      line-height: 130%;
    }


  }


  &.open_sans_extra_bold {

    .keywords {

      &.half {
        .order-btn {
          max-width: 290px;
        }
      }
    }

    h1 {
      font-size: 55px;
      line-height: 130%;
    }

    h2 {
      font-size: 41px;
      line-height: 130%;
    }

    h3 {
      font-size: 24px;
      line-height: 130%;
    }

    .text-content {
      p {
        font-size: 18px;
        line-height: 130%;
      }
    }



    .steps-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        font-size: 16px;
        line-height: 130%;
      }
    }

    p {
      font-size: 16px;
      line-height: 130%;
    }

    .testimonials-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      p {
        &.small {
          font-size: 14px;
          line-height: 130%;
        }
      }
    }

    .price .new sup {
      line-height: 50px;
    }

    .faq-item {
      .title {
        font-size: 22px;
        line-height: 130%;
      }

      .more {
        font-size: 16px;
        line-height: 130%;
      }
    }


  }

  .input-group .label.small {
    input {
      border-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .input-group .label.large {
    width: calc(100% - 150px);

    input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .secondary_info {
    font-size: 12px;
    line-height: 150%;

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .secondary_info-version2 {
    font-size: 12px;
    line-height: 150%;

    svg {
      height: 15px;
      width: 15px;
    }
  }


  .faq-item .arrow {
    position: absolute;
    top: 21px;
    right: 27px;
    transition: .3s;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .label.active {
    input {
      padding-top: 22px;
      padding-bottom: 5px;
    }

    .label-text {
      top: 6px !important;
      transform: translate(0, 0);
    }
  }

  .label .label-text {
    min-width: 250px;
    font-size: 17px;
    line-height: 130%;
  }

  .label {
    overflow: hidden;
  }

  .input-text:not(.error):focus,
  .input-text:not(.error):hover {
    padding-left: 18px;
  }

  .order-btn.unimportant-btn {
    font-size: 16px;
    line-height: 19px;
    padding: 16.5px 30px;
  }

  .price .old .discount {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  &.helvetica_neue_light_set {
    .price .old .discount {
      padding: 10px 0 6px;
    }

    .steps-item:before {
      padding-top: 6px;
    }

    .steps-item {
      &:before {
        border-width: 4px;
      }
    }
  }

  &.open_sans_ovo,
  &.roboto_light {
    .steps-item {
      &:before {
        border-width: 4px;
      }
    }
  }


  //  }

  .typing {
    left: 15%;
    top: 5%;
    font-size: 3vw;

  }

  &.dark_green-tmpl:after,
  &.dark_green-tmpl:before {
    width: 100%;
  }

  #bodymovinMob {
    display: block;
  }

  #bodymovin {
    display: none;
  }

  .keywords {
    display: flex;

    &.half {
      flex-wrap: wrap;

      input {
        width: 100%;
      }

      input,
      .order-btn {
        //        margin-top: 6px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 11px;
      }

      .order-btn {
        //        width: 195px;
        //        margin-left: 10px;
        //        padding: 6.5px 10px;
        max-width: 270px;
        width: 100%;
      }
    }
  }

  .animation-steps {
    margin-top: 40px;
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;

    .steps-item {
      margin-bottom: 30px;
      padding-top: 75px;
      padding-left: 10px;
      padding-right: 10px;

      //z-index: 9;
      .title {
        text-align: center;
        font-size: 16px;
        line-height: 130%;
      }

      &:before {
        left: 50%;
        transform: translateX(-50%);
      }

      &:after {
        width: 90%;
        height: 3px;
        top: 35px;
        left: 86px;
        z-index: -1;
      }

      &:last-child {
        &:after {
          left: -66%;
        }
      }

    }
  }

  &.dark_green-tmpl:after,
  &.dark_green-tmpl:before {
    z-index: -2 !important;
  }
}
