.loader {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
}

.loader-bg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 !important;
}

.spinner-holder-one {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  box-sizing: border-box;
}

.spinner-holder-two {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
}

.loader-spinner {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 5px solid red;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px -1px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.animate-0-25-a {
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.animate-0-25-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-25-50-a {
  transform: rotate(180deg);
  transform-origin: 100% 100%;
}

.animate-25-50-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-50-75-a {
  transform: rotate(270deg);
  transform-origin: 100% 100%;
}

.animate-50-75-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-75-100-a {
  transform: rotate(0deg);
  transform-origin: 100% 100%;
}

.animate-75-100-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.loader-bg {
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.6);
}

.loader-spinner {
  border-color: #d2c315;

}

.loader-bg {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 !important;
}


.loader {
  position: relative;
  user-select: none;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
}

.spinner-holder-one {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 50%;
  height: 50%;
  background: transparent;
  box-sizing: border-box;
}

.spinner-holder-two {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  box-sizing: border-box;
}

.loader-spinner {
  width: 200%;
  height: 200%;
  border-radius: 50%;
  border: 5px solid red;
  box-sizing: border-box;
}

.animate-0-25-a {
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.animate-0-25-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-25-50-a {
  transform: rotate(180deg);
  transform-origin: 100% 100%;
}

.animate-25-50-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-50-75-a {
  transform: rotate(270deg);
  transform-origin: 100% 100%;
}

.animate-50-75-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.animate-75-100-a {
  transform: rotate(0deg);
  transform-origin: 100% 100%;
}

.animate-75-100-b {
  transform: rotate(-90deg);
  transform-origin: 100% 100%;
}

.loader-bg {
  border-color: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.6);
}
/*
.loader-spinner {
  border-color: red;
}*/

.timer-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: #000;
  text-align: center;
}

.timer {
  z-index: 99;
  position: fixed;
  right: 35px;
  top: 35px;
  background: #fff;
  border-radius: 50%;
  padding: 4px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), inset 0px -1px 0px rgba(0, 0, 0, 0.3);
  .text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;

    color: #000;
  }
}